<% include ./partials/header %>

<h1>Add a todo</h1>

<form action="/todos" method="POST">
<input type="text" name="todos" placeholder="add a todo"></input>
<input type="submit" value="SUBMIT">
</form>