<% include ./partials/header %>

<div id="container">
	    <h1>To Do list</h1>
	
		<ul>
			<li>jogging</li>
			<li>cooking</li>
			<li>train</li>
			
		</ul>
		<form action="/todos" method="DELETE"
		<button>Remove selected</button>
	</div>


